<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Movie</title>
</head>
<body>
    <h1><%=movieTitle%></h1>
    <h2><%=movieYear%></h2>
    <h5>Release Date: <%=movieRelease%></h5>
    <h5>Director: <%=movieDirector%></h5>
    <h5>Cast: <%=movieCast%></h5>
    <h5>Plot: <%=moviePlot%></h5>
    <h1 id="scores" style="float: right;">IMdB Ratings: <%=movieRatingImdb%></h1>
    <h1 id="scores" style="float: right; padding-top: 100px; padding-right: 0;">Metascore: <%=movieRatingMeta%></h1>
</body>
</html>